version: '3'

services:
  rust-server:
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    ports:
      - "28015:28015/udp"
      - "28016:28016/udp"
      - "28017:28017/tcp"
      - "28082:28082/tcp"
    environment:
      SERVER_NAME: ${SERVER_NAME}
      SERVER_DESCRIPTION: ${SERVER_DESCRIPTION}
      SERVER_ID: ${SERVER_ID}
      RCON_PASSWORD: ${RCON_PASSWORD}
      CARBON_ENABLE: ${CARBON_ENABLE}
      CARBON_UPDATE: ${CARBON_UPDATE}
      CARBON_VERSION: ${CARBON_VERSION}

    volumes:
      - ${SERVER_VOLUME_DIRECTORY}/server/${SERVER_ID}:/app/rust/server/${SERVER_ID}:rw
      - /etc/localtime:/etc/localtime:ro
      ## IF CARBON_ENABLE IS ON
      - ${SERVER_VOLUME_DIRECTORY}/carbon:/app/rust/carbon:rw